version: 2.1

aliases:
  - &restore_npm_cache
    restore_cache:
      name: Restore node_modules cache
      keys:
        - v1-front-{{ checksum "package.json" }}
        - v1-front-
  - &install_npm
    run:
      name: Install NPM Packages
      command: npm install
  - &restore_dotnet_cache
    restore_cache:
      name: Restore nuget cache
      keys:
        - v1-back-dependencies-{{ checksum "tcs-service/tcs-service.csproj" }}-{{ checksum "tcs-service-test/tcs-service-test.csproj" }}
        - v1-back-dependencies-
  - &install_nuget
    run:
      name: Install nuget packages
      command: dotnet restore
  - &login_docker
    run:
      name: Login with Docker Account
      command: docker login -u $DOCKER_USER -p $DOCKER_PASS

executors:
  front-exec:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
  back-exec:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:2.2
    working_directory: ~/repo
  # Used for running docker commands
  docker-exec:
    docker:
      - image: circleci/buildpack-deps:stretch
    working_directory: ~/repo

jobs:
  setup-front:
    executor: front-exec
    working_directory: ~/repo/frontend
    steps:
      - checkout:
          path: ~/repo
      - *restore_npm_cache
      - *install_npm
      - save_cache:
          name: Cache node_modules
          paths:
            - node_modules
          key: v1-front-{{ checksum "package.json" }}

  test-front:
    executor: front-exec
    working_directory: ~/repo/frontend
    steps:
      - checkout:
          path: ~/repo
      - *restore_npm_cache
      - *install_npm
      - run: npm test

  setup-back:
    executor: back-exec
    working_directory: ~/repo/backend
    steps:
      - checkout:
          path: ~/repo
      - *restore_dotnet_cache
      - *install_nuget
      - save_cache:
          name: Save dotnet cache
          paths:
            - ~/.nuget/packages
          key: v1-back-dependencies-{{ checksum "sXb-service/sXb-service.csproj" }}-{{ checksum "sXb-service-test/sXb-service-test.csproj" }}

  test-back:
    executor: back-exec
    working_directory: ~/repo/backend
    steps:
      - checkout:
          path: ~/repo
      - *restore_dotnet_cache
      - *install_nuget
      - run: dotnet test tcs-service-test/

  deploy-back:
    executor: docker-exec
    working_directory: ~/repo/backend/
    steps:
      - setup_remote_docker
      - checkout:
          path: ~/repo
      - *login_docker
      - run:
          name: Building Docker Image
          command: docker build -t $DOCKER_USER/tcs-service:$CIRCLE_BRANCH tcs-service/
      - run:
          name: Pushing Image to Docker Hub
          command: docker push $DOCKER_USER/tcs-service:$CIRCLE_BRANCH

  deploy-front:
    executor: docker-exec
    working_directory: ~/repo/frontend/
    steps:
      - setup_remote_docker
      - checkout:
          path: ~/repo
      - *login_docker
      - run:
          name: Building Docker Image
          command: docker build -t $DOCKER_USER/tcs-front:$CIRCLE_BRANCH
      - run:
          name: Pushing Image to Docker Hub
          command: docker push $DOCKER_USER/tcs-front:$CIRCLE_BRANCH

workflows:
  version: 2

  build-test-deploy:
    jobs:
      - setup-front
      - setup-back
      - test-front:
          requires:
            - setup-front
      - test-back:
          requires:
            - setup-back
      - deploy-back:
          requires:
            - test-back
      - deploy-front:
          requires:
            - test-front
